@import '~src/sass/variables'
@import '~src/sass/base'

.img-container
  height: 150px
  width: 120px

.sidebar-container
  background: white

.sidebar-container ul
  list-style: none

table
  display: flex
  flex-flow: column
  width: 100%

thead
  flex: 0 0 auto

tbody
  flex: 1 1 auto
  display: block
  overflow-y: auto
  overflow-x: hidden
  height: calc(100vh - 140px)

tr
  width: 100%
  display: table
  table-layout: fixed

.ngx-pagination .current
  background: $primaryColor !important

main
  height: calc(100vh - 125px)

.thumbnail-view-content i
  color: $primaryColor
