<nav class="navbar navbar-expand-md navbar-dark navbar-fixed-top">
  <a class="navbar-brand">Tech Library</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse"
    aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarCollapse">
    <ul class="navbar-nav mr-auto">
    </ul>
    <div class="search-group mr-3 d-flex">
      <input type="text" class="form-control" placeholder="Search here..."/>
      <button type="button" class="btn listViewBtnGroup"><i class="fas fa-search"></i></button>
    </div>
    <div class="btn-group">
      <button type="button" (click)="toggleViewType('thumbnail')" [ngClass]="{ 'activeBtn' : viewType == 'thumbnail' }" class="btn listViewBtnGroup border"><i class="fas fa-th"></i></button>
      <button type="button" (click)="toggleViewType('list')" [ngClass]="{ 'activeBtn' : viewType == 'list' }" class="btn listViewBtnGroup border"><i class="fas fa-list-ul"></i></button>
    </div>
  </div>
</nav>
