@import '~src/sass/variables'

aside
  background: $primaryColor
  -webkit-flex: 1
  flex: 1
  width: 161px
  height: 100%
  ul
    list-style: none
    li
      text-decoration: none
      color: white
      flex-grow: 1
      cursor: pointer
      &:hover
        color: $primaryColor
        background: white
