@import '~src/sass/variables'
@import '~src/sass/base'

.parentBooksList
  list-style-type: none
  padding: 0
  li
    cursor: pointer
    width: 195px
    font-size: 14px
    position: relative
    &:hover
      color: $primaryColor
  span
    user-select: none

.scrollableList
  height: 670px
  overflow: scroll

.badge-handle
  height: 40px
  width: 40px
  display: inline-block
  img
    height: 100%
    width: 100%

.countContainer
  color: white

i
  color: $primaryColor

.selectCheckmark
  position: absolute
  color: $primaryColor

.titleContainer
  width: calc(100% - 53px)
  display: inline-block
  overflow: hidden
  white-space: nowrap
  text-overflow: ellipsis

.highlightBook
  box-shadow: 2px 2px 5px 1px #cfc9cf

.removeHighlight
  box-shadow: none
